.center{
	padding-top: 40px;
}

a{
	color: #fff;
}

.manejoStock{
	margin-bottom: 0px;
}
.opcionesCarrito{
	margin: 5px;
}

.margin20{
	margin: 20px;
}
.mensajes{
	min-height: 75px;
}
.marginTop10{
	margin-top: 10px;
}
.separador{
	height:50px;
}
